{% extends 'layout_admin.html' %}

{% block admin_content %}

<h2>Cadastrar Produto</h2>

{{ flash('mensagem_produto') | raw }}
    
<form action="/adminProdutos/update/{{ produto.id }}" method="POST" role="form">
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label for="Nome">Nome</label>
        {{ errorField('produto_nome') | raw }}
        <input type="text" name="produto_nome" id="input" class="form-control" value="{{ produto.produto_nome }}">
        <label for="Nome">Slug</label>
        {{ errorField('produto_slug') | raw }}
        <input type="text" name="produto_slug" id="input" class="form-control" value="{{ produto.produto_slug }}"  title="">
        <label for="Nome">Valor</label>
        {{ errorField('produto_valor') | raw }}
        <input type="text" name="produto_valor" id="input" class="form-control" value="{{ produto.produto_valor }}"  title="">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label for="Nome">Categoria</label>

        {{ errorField('produto_categoria') | raw }}
        <select name="produto_categoria" id="input" class="form-control">
        {% for categoria in categorias %}
            <option value="{{ categoria.id }}" {{ selected(categoria.id,produto.id) }}>{{ categoria.categoria_nome }}</option>
        {% endfor %}
        </select>
        <label for="Nome">Marca</label>
        {{ errorField('produto_marca') | raw }}
        <select name="produto_marca" id="input" class="form-control">
            {% for marca in marcas %}
                <option value="{{ marca.id }}" {{ selected(marca.id,produto.produto_marca) }}>{{ marca.marca_nome }}</option>
            {% endfor %}
        </select>
        <label for="Nome">Garantia</label>
        {{ errorField('produto_garantia') | raw }}
        <input type="text" name="produto_garantia" id="input" class="form-control" value="{{ produto.produto_garantia }}"  title="">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{ errorField('produto_descricao') | raw }}
        <textarea name="produto_descricao" id="input" class="form-control" rows="7">{{ produto.produto_descricao }}</textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

{% endblock %}