{% extends 'layout_admin.html' %}
{% block admin_content %}

    <h2>Lista de produtos</h2>
    <div class="btn-group">
        <a class="btn btn-default" href="#" role="button">Início</a>
        <a class="btn btn-default" href="/adminCategorias/create" role="button">Nova Categoria</a>
    </div>
    <div>
        <form action="/adminCategorias">
            <input type="text" name="s"  class="form-control" placeholder="Buscar Categoria">
        </form>
    </div>
    <br>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr class="row-produto">
                    <td>{{ categoria.categoria_nome }}</td>
                    <td><a href="/adminCategorias/edit/{{ categoria.id }}" class="btn btn-xs btn-info">Editar</a></td>
                    <td><a href="/adminCategorias/destroy/{{ categoria.id }}" class="btn btn-xs btn-danger">Deletar</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="4">{{ links | raw }}</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}