<div id="wrap-footer-links">
    <div id="footer-links">
      <div class="wrap-links">
        <h3>ORDER SUPPORT</h3>
        <ul>
          <li><a href="#">Order Status</a></li>
          <li><a href="#">Shipping &amp; Store Pickup</a></li>
          <li><a href="#">International Orders</a></li>
          <li><a href="#">Returns &amp; Refunds</a></li>
          <li><a href="#">Customer Service</a></li>
        </ul>
      </div>
      <div class="wrap-links">
        <h3>PRODUCT SUPPORT</h3>
        <ul>
          <li><a href="#">Order Support</a></li>
          <li><a href="#">Order Status</a></li>
          <li><a href="#">Shipping &amp; Store Pickup</a></li>
          <li><a href="#">International Orders</a></li>
          <li><a href="#">Store Pickup</a></li>
          <li><a href="#">Returns &amp; Refunds</a></li>
          <li><a href="#">Customer Service</a></li>
        </ul>
      </div>
      <div class="wrap-links">
        <h3>CREDIT CARDS</h3>
        <ul>
          <li><a href="#">Apply Now</a></li>
          <li><a href="#">Make a Payment</a></li>
          <li><a href="#">Card Benefits</a></li>
        </ul>
        <h3 style="margin-top: 10px;">REWARD ZONE PROGRAM</h3>
        <ul>
          <li><a href="#">Learn More</a></li>
          <li><a href="#">Check Your Points</a></li>
        </ul>
      </div>
      <div class="wrap-links">
        <h3>LEGAL</h3>
        <ul>
          <li><a href="#">Conditions of Use</a></li>
          <li><a href="#">Legal Notices</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">California Privacy Rights</a></li>
          <li><a href="#">Price Match Guarantees</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="wrap-bottom">
    <div id="bottom">
      <p class="left">2010 ProShopping - All rights reserved.</p>
      <div class="right"><p>Follow Us:</p><p><a href="#"><img src="images/skype-icon.png" alt="" /></a><a href="#"><img src="images/twiter-icon.png" alt="" /></a><a href="#"><img src="images/fb-icon.png" alt="" /></a></p></div>
    </div>
  </div>