<div class="container-fluid">
    <nav class="pull-left">
        <ul>
            <li>
                <a href="/painel">
                    Início
                </a>
            </li>
            <li>
                <a href="/adminProdutos">
                    Produtos
                </a>
            </li>
            <li>
                <a href="/adminVendasTotal">
                    Vendas
                </a>
            </li>
        </ul>
    </nav>
    <p class="copyright pull-right">
        &copy; {{ 'now' | date('Y') }} <a href="http://asolucoesweb.com.br">Asolucoesweb</a>, seu portal de treinamento web
    </p>
</div>
