
<ul class="nav">
    <li class="active">
        <a href="/painel">
            <i class="material-icons">dashboard</i>
            <p>Início</p>
        </a>
    </li>
    <li>
        <a href="/adminProdutos">
            <i class="material-icons">local_grocery_store</i>          
            <p>Produtos</p>
        </a>
    </li>
    <li>
        <a href="/adminClientes">
            <i class="material-icons">person</i>
            <p>Clientes</p>
        </a>
    </li>
    <li>
        <a href="/adminCategorias">
            <i class="material-icons">library_books</i>
            <p>Categorias</p>
        </a>
    </li>
    <li>
        <a href="/adminVendas">
            <i class="material-icons">local_atm</i>
            <p>Vendas</p>
        </a>
    </li>
    <li>
        <a href="/adminEstoque">
            <i class="material-icons">create</i>
            <p>Estoque</p>
        </a>
    </li>
</ul>
